/*nav*/

.listNav {
  background-color: $color-oscuro;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: end;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .headerItem {
    display: inline;
    order: 1;
    margin: 5px;
    
    a:link,
    a:visited {
      font-size: 25px;
      color: $color-claro;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: $color-oscuro;
    }

    a {
      font-size: 25px;
      text-decoration: none;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: $color-oscuro;
    }
  }
 .logoImg {
    width: 50px;
  }
}
@media screen and (max-width: 358px){
  .headerItem{
    width: 20%;
  }
}
/*Termina nav*/

/*dropdown*/
.botonMenu {
  background-color: rgba(0, 0, 0, 0);
  color: $color-oscuro-claro;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.contenidoMenu {
  display: none;
  position: absolute;
  background-color: $color-oscuro;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: background-color 0.3s ease;
}

.contenidoMenu a {
  color: $color-claro;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.contenidoMenu a:hover {
  background-color: $color-medio;
}

.dropdown:hover .contenidoMenu,
.botonMenu:hover .contenidoMenu {
  display: block;
}

.linkMenu {
  font-size: 16px;
}
/*Empieza footer*/
.footer {
  width: 100%;
  background-color: $color-oscuro;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: 0px;
}

.imgFooter{
  width: 50px;
}
/*Termina footer*/