$color-oscuro: rgba(30, 32, 47, 0.582);
$color-oscuro-claro: rgba(96, 72, 68, 0.26);
$color-medio: rgba(216, 137, 63, 0.295);
$color-claro-medio: rgba(245, 177, 68, 0.527);
$color-claro: rgb(172, 102, 24);