@font-face {
  font-family: "ChauPhilomene";
  src: url('fuentes/ChauPhilomeneOne-Regular.ttf');
}

* {
  margin: 1px;
  font-family: "ChauPhilomene";
  
}


body {
  background-image: url(./img/fondo.jpg);
  background-size: 100%;
  background-attachment: fixed
}
@import "./scss/variables";
@import "./scss/nav-footer";
@import "./scss/index";
@import "./scss/menu";
@import "./scss/conocenos";
@import "./scss/contacto";
